Computation_Service/WebContent/wsdl/Calculator_Module.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pack.service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pack.service.com" xmlns:intf="http://pack.service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pack.service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divide">
    <complexType>
     <sequence>
      <element name="a" type="xsd:double"/>
      <element name="b" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideResponse">
    <complexType>
     <sequence>
      <element name="divideReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="sub">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subResponse">
    <complexType>
     <sequence>
      <element name="subReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiper">
    <complexType>
     <sequence>
      <element name="a" type="xsd:double"/>
      <element name="b" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiperResponse">
    <complexType>
     <sequence>
      <element name="multiperReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:sub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiperRequest">

      <wsdl:part element="impl:multiper" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiperResponse">

      <wsdl:part element="impl:multiperResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideRequest">

      <wsdl:part element="impl:divide" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideResponse">

      <wsdl:part element="impl:divideResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator_Module">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divide">

         <wsdl:input message="impl:divideRequest" name="divideRequest">

       </wsdl:input>

         <wsdl:output message="impl:divideResponse" name="divideResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiper">

         <wsdl:input message="impl:multiperRequest" name="multiperRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiperResponse" name="multiperResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Calculator_ModuleSoapBinding" type="impl:Calculator_Module">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divideRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divideResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiper">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiperRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiperResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Calculator_ModuleService">

      <wsdl:port binding="impl:Calculator_ModuleSoapBinding" name="Calculator_Module">

         <wsdlsoap:address location="http://localhost:8080/Computation_Service/services/Calculator_Module"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
